@{
    Layout = "~/Views/Shared/_LayoutHF.cshtml";
}
<div class="row">
    <img src="~/Images/about_us.png" style="width:100%;" />
</div>
<br />
<br />
<div class="container">
    <section class="properties">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h3>ABOUT US</h3>
                    <div class="divider"></div>
                    @*                  <p><span style="font-family:Proxima Nova Semi-bold; font-size:17px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vehicula dapibus mauris, quis ullamcorper enim aliquet sed. Maecenas quis eget tellus dui. Vivamus condimentum egestas.</span></p>*@
                    <p>
                        Move, Inc., a subsidiary of News Corp, is a leading provider of online real estate services and operates the Move network of real estate websites and mobile experiences for consumers and real estate professionals. The Move network reaches more than 40 million people per month and includes: realtor.com®, Moving.com™, SeniorHousingNet.comSM , Doorsteps®, ListHub™, Top Producer® Systems, TigerLead®, FiveStreetSM and others. The Move network also includes mobile experiences through its realtor.com® mobile real estate search applications for iPhone, iPad, Windows Phone 8, and Android, as well as the m.realtor.com website
                        The Move network provides resources and tools for consumers and real estate professionals to help navigate all stages of the home-buying cycle. These tools give consumers access to the most comprehensive selection of existing homes for sale, property records, rentals, mortgage resources, senior housing options, moving resources and more. The Move network has the deepest consumer engagement among all real estate websites – consumers spend more than 700 million minutes per month on Move websites and mobile experiences
                        Move has deep local and national advertising relationships with more than 400,000 real estate professionals, as well as numerous high profile display advertisers. On the Move network, advertisers can choose a variety of advertising and marketing solutions including subscription, lead generation, text-link and rich media, directory products, price quote tools and sponsorships.

                    </p>
                    @*<p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam euismod
                            sollicitudin nunc, eget pretium massa. Ut sed adipiscing enim, pellentesque ultrices
                            erat. Integer placerat felis neque, et semper augue ullamcorper in. Pellentesque
                            iaculis leo iaculis aliquet ultrices. Suspendisse potenti. Aenean ac magna faucibus,
                            consectetur ligula vel, feugiat est. Nullam imperdiet semper neque eget euismod.
                            Nunc commodo volutpat semper.
                        </p>

                        <p>
                            Ut sed adipiscing enim, pellentesque ultrices erat. Integer placerat felis neque, et
                            semper augue ullamcorper in. Pellentesque iaculis leo iaculis aliquet ultrices.
                            Suspendisse potenti. Aenean ac magna faucibus, consectetur ligula vel, feugiat est.
                            Nullam imperdiet semper neque eget euismod. Aenean ac magna faucibus, consectetur ligula vel, feugiat est.
                            Nullam imperdiet semper neque eget euismod.
                        </p>*@
                </div>
                <div class="col-lg-6 col-md-6">
                    <h3>Our MISSION</h3>
                    <div class="divider"></div>
                    <div>
                        <img class="icon" src="images/listing-icon-small.png" alt="">
                        <p>
                            Simplifying the complex property buying and selling process in Pakistan
                            Recommending the right resources to help you reach your goals in finding property
                            <br />or selling a property.
                            Helping you negotiate the best possible deals for your home buying or selling.
                            Managing the buying and selling process to help achieve your <br />goals with ease and convenience
                            Offering you outstanding service and personal expertise in the field of Real Estate in Pakistan
                            Providing you with quality real estate resources and financial services for investment in Pakistan Real Estate
                        </p>
                    </div><br>
                    <div>
                        <img class="icon" src="~/Images/agent-icon-small.png" alt="">
                        <h4>KNOWLEDGABLE AGENTS</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing. In metus diam,
                            fermentum in orci sit amet, lobortis congue diam. Interdum et
                            malesuada fames ac ante ipsum primis in faucibus.
                        </p>
                    </div><br>
                    <div>
                        <img class="icon" src="~/Images/compass-icon-small.png" alt="">
                        <h4>EXPERTISE &amp; GUIDANCE</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing. In metus diam,
                            fermentum in orci sit amet, lobortis congue diam. Interdum et
                            malesuada fames ac ante ipsum primis in faucibus.
                        </p>
                    </div>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </section>
</div>
